# ===== Core ML =====
torch>=2.2.0
numpy>=1.26.0
pandas>=2.1.0
scikit-learn>=1.4.0
scipy>=1.12.0

# ===== Data CMEMS / NetCDF =====
copernicusmarine>=2.0.0
xarray>=2024.1.0
netCDF4>=1.6.5
dask>=2024.1.0

# ===== Config & utils =====
pyyaml>=6.0
tqdm>=4.66.0

# ===== Visualisasi & analisis =====
matplotlib>=3.8.0
seaborn>=0.13.0
